@import "tailwindcss";

:root {
  --background: #f1f0ec;
  --telgea-dark: #151515;
  --telgea-green: #C8FF00;
  box-sizing: border-box;
  margin: 0;
}

@theme {
  --color-light-gray: #15151566;
  --color-brand-lime: #F1FBD0;
  --color-telgea-dark: var(--telgea-dark);
  --color-telgea-green: var(--telgea-green);
  --bg-telgea-dark: var(--telgea-dark);
  --bg-telgea-green: var(--telgea-green);
  --text-xxs: 0.625rem;
}

body {
  background: var(--background);
  /**selecta font couldn't be found, at least the free version */
  font-family: Arial, Helvetica, sans-serif;
}
